<ion-view >
		<ion-header-bar  class="bar bar-header" ng-class="bar_color">
          <button class="button button-clear " ng-click="addchapterBack();"><i class="icon ion-ios7-arrow-left"></i></button>
          <h1 class="title">{{Title}}</h1>
          
        </ion-header-bar>

         <ion-content style="padding:1% 25% 2% 25%;"  >
          	<br />
          	<div style="padding:0% 0% 0% 0%;">

              	<div class="row">

              		<div class="col col-20">
              			<div class="file-input-wrapper1" >
                      <button class="btn-file-input1"></button>
                      <input type="file" id="buttonImage" />
                    </div>
    			        </div>
    			        <div class="col col-80">          
    			   		    <input type="text" placeholder=" Enter New Listing Title"  ng-model="chaptercreate.title" style="background-image:url(img/text-field.png);background-size:100% 100%;font-size:20px; padding-right:10%;"/>
    			   	    </div>
    			   
    			      </div>
          			<div style="margin:auto;width:90%;">
          	            <img src="img/line.png" style="width:100%;height:auto;">
          	    </div>  	
    		        <br />
                <div style="width:100%;float:left;">
                       <div style="width:30%;float:left;"><font style="opacity:0;">hello</font></div>
                      <div style="width:40%;float:left;">
                            <img src="img/required-field.png" style="width:100%;height:auto;"/>
                      </div>
                      <div style="width:30%;float:right;">
    			      	      <button class="button button-clear" ng-click="buttonSubmitFtn();" ><img src="img/save.png" style="width:52px;height:29px;"/></button>
    		     	        </div>
    		        </div>
		        </div>
        </ion-content>
</ion-view >
