<ion-view>

    <ion-header-bar  class="bar bar-header" ng-class="bar_color">
    <button class="button button-clear" ng-click="preContentBack();"><i class="icon ion-ios7-arrow-left"></i></button>
      <h1 class="title">{{appTitle}}</h1>
      <div class="buttons">
          <button class="button button-clear" ng-click="goHome()"><i class="icon ion-ios7-home-outline"></i></button>
          <button class="button button-clear" ng-click="switchAppEditor()"><i class="icon ion-ios7-compose-outline"></i></button>
      </div>  
    </ion-header-bar> 

  	 <ion-content style="padding:1% 25% 2% 25%;" style="background-image:url(img/bg2.png);background-size:100% 100%;">

      <div class="content" style="padding:0% 5% 0% 2%;" id="backgroundcolor1"> 

        <p ng-hide="showfloat">
          <a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_fb.png" alt="" style="width:32px;height:32px;"/></a>
          <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_twitter.png" alt="" style="width:32px;height:32px;"/></a>
          <a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail1.png" alt="" style="width:32px;height:32px;"/></a>

    </p>
    
    		<div style="padding:5% 0% 10% 3%;" class="backgroundcolor">
          
          <ul class="list" >
            
            <div class="item item-divider item-button-right" align="center">
              {{contentTitle}}
              <button class="button button-assertive button-clear" ng-click="elementAppwallgoFun();" ng-show='elementAppWall'><i class="icon"><img src="img/coments.png" style="width:25px;height:25px;"/></i></button>
            </div>
            <ion-slide-box on-slide-changed="slideChanged(index)" style="padding:2% 0 0 0">
                <ion-slide ng-repeat="item in buttonDeleteArray" style="padding:0">
                   
                        <img src={{item.url}} style="width:100%;"/>
                            
                </ion-slide>
                
            </ion-slide-box>
            <p id="scrollTop" align="justify" ng-bind-html="deliberatelyTrustDangerousSnippet()" style="width:100%;"></p>
            <p ng-bind-html="deliberatelyTrustDangerousSnippet1()"></p>

          <ul>
              <div class="item item-divider item-button-right" align="left">
                  Price: {{contentPrice}}
                  </div>
              
              <div class="item item-divider item-button-right" align="left">
                  Type: {{contentAdditional_field}}
              </div>
              
              <div class="item item-divider item-button-right" align="left">
                  Square Feet: {{contentSquarefeet}}
              </div>
              
              <div class="item item-divider item-button-right" align="left">
                  Address: {{contentAddress}}
              </div>
              
              <div class="item item-divider item-button-right" align="left">
                  House Condition: {{contentHousecondition}}
              </div>
              
              <h4>Amenities</h4>
              <button class="button button-small button-balanced" ng-repeat="contentTag in contentTags" style="margin-right:1%;margin-bottom:1%">
                  {{contentTag.name}}
              </button>
              <h4>Agents</h4>
              
              <ul class="list" style="padding:0;">
                  
                  <li class="item" ng-repeat="agentslist in agentslists" style="padding:0;">
                      <div class="row" style="padding:0;">
                          <div class="col">
                              <img src={{agentavatar(agentslist.avatar)}} style="width:60px; height:60px;"/>
                          </div>
                          <div class="col col-75">
                              
                                  <div class="item item-text-wrap" style="font-size:16px;padding:5px;">
                                      <i class="icon ion-person"><img src="img/split.png"/> {{agentslist.fullname}}</i>
                                  </div>
                                  <div class="item item-text-wrap" style="font-size:16px; padding:5px;">
                                      <i class="icon ion-email"><img src="img/split.png"/> {{agentslist.email}}</i>
                                  </div>
                                  <div class="item item-text-wrap" style="font-size:16px; padding:5px;">
                                      <i class="icon ion-ios7-telephone"><img src="img/split.png"/> {{agentslist.phone}}</i>
                                  </div>
                              
                          </div>
                      </div>
                      
                      
                  </li>
                  
              </ul>
              

  	  	</div>
      </div>

    </ion-content>
    <div align="center" style="position:fixed;bottom: 0;right:45%;" ng-show="showfloat">
        <a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396343749_facebook_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
          <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396344405_twitter_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
         <a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail.png" alt="" style="width:32px;height:32px;"/></a>

    </div>
</ion-view>











